@import "../../global.scss";

.about{
  color: $mainLightColor;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  

  .title{
    font-size: 4vh;
    font-weight: 600;
    margin-bottom: 1vh;
    text-decoration: underline;
    text-decoration-color: #f05f95;
  }

  a{
    text-decoration: none;
    color: inherit;

    &:hover{
      background: #2CA58D;
    }
  }

  .about-me{
    background-color:inherit;

    .bio{
      color: inherit;
    }

    #about{
      color: $mainLightColor;
      p{
        padding: 0.75vh;
        margin: 0.5vh 25vh;
        font-size: 2.15vh;
      }
    }

    .imgContainer{
      width: 50vh;
      height: 60vh;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo{
        margin: 0.5vh;
        border-style: solid;
        border-radius: 15%;
        border-color: #2CA58D;
        background-color: $mainDarkColor;
        color: $mainLightColor;
      }

      img{
        width: 7vh;
        height: auto;
        padding: 2vh;
        align-items: center;
        
        &:hover{
          background: #2CA58D;
        }
      }
    }
  
  }
}