@import "./global.scss";

html,body{
  background-color: $mainDarkColor;
}

.app{
  height: 100vh;

  .body-particles{
    position: absolute;
    width: 110vw;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .particle-background{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    background-color: $mainDarkColor;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .sections{
    width: 100%;
    height: calc(100vh - 8vh);
    margin-top: 10vh;
    position: relative;
    top: 8vh;
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
      display: none;
    } //for other browsers


    > *{
      width: 100vw;
      min-height: 100vh;
      scroll-snap-align: start;
    }
  }
}